{{#isBodyParam}}@ApiParam(value = "{{{description}}}" {{#required}},required=true{{/required}}{{#allowableValues}}, {{> allowableValues }}{{/allowableValues}}{{#defaultValue}}, defaultValue="{{{defaultValue}}}"{{/defaultValue}}) @Valid {{#isArray}}List<{{{items.dataType}}}>{{/isArray}}{{^isArray}}{{{dataType}}}{{/isArray}} {{paramName}}{{/isBodyParam}}