{{#isFormParam}}{{^isFile}}@Multipart(value = "{{baseName}}"{{^required}}, required = false{{/required}})  {{{dataType}}} {{paramName}}{{/isFile}}{{#isFile}}{{^isArray}}@Multipart(value = "{{baseName}}"{{^required}}, required = false{{/required}}) InputStream {{paramName}}InputStream,@Multipart(value = "{{baseName}}" {{^required}}, required = false{{/required}}) Attachment {{paramName}}Detail{{/isArray}}{{#isArray}}@Multipart(value = "{{baseName}}"{{^required}}, required = false{{/required}}) List<InputStream> {{paramName}}InputStream, @Multipart(value = "{{baseName}}" {{^required}}, required = false{{/required}}) List<Attachment> {{paramName}}Detail{{/isArray}}{{/isFile}}{{/isFormParam}}