{{#isFormParam}}{{^isFile}}{{{dataType}}} {{paramName}}{{/isFile}}{{#isFile}}{{^isArray}}InputStream {{paramName}}InputStream, Attachment {{paramName}}Detail{{/isArray}}{{#isArray}}List<InputStream> {{paramName}}InputStream, List<Attachment> {{paramName}}Detail{{/isArray}}{{/isFile}}{{/isFormParam}}